  .main-home {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }

  .custom-field {
      position: relative;
      font-size: 14px;
      border-top: 20px solid transparent;
      margin: 20px;
      display: inline-block;
      --field-padding: 12px;
  }

  .custom-field input {
      border: none;
      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #f2f2f2;
      padding: var(--field-padding);
      border-radius: 3px;
      width: 250px;
      outline: none;
      font-size: 14px;
  }

  .custom-field .placeholder {
      position: absolute;
      left: var(--field-padding);
      width: calc(100% - (var(--field-padding) * 2));
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      top: 22px;
      line-height: 100%;
      transform: translateY(-50%);
      color: #aaa;
      transition:
          top 0.3s ease,
          color 0.3s ease,
          font-size 0.3s ease;
  }

  .custom-field input.dirty+.placeholder,
  .custom-field input:focus+.placeholder,
  .custom-field input:not(:placeholder-shown)+.placeholder {
      top: -10px;
      font-size: 10px;
      color: #222;
  }

  .custom-field .error-message {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 8px;
      font-size: 12px;
      background: #d30909;
      color: #fff;
      height: 24px;
  }

  .custom-field .error-message:empty {
      opacity: 0;
  }

  .custom-field.two input {
      border-radius: 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background:
          linear-gradient(90deg, #222, #222) center bottom/0 0.15em no-repeat,
          linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
          linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
      transition: background-size 0.3s ease;
  }

  .custom-field.two input.dirty,
  .custom-field.two input:not(:placeholder-shown),
  .custom-field.two input:focus {
      background-size: 100% 0.15em, 100% 0.1em, 100%;
  }


  .button {
      display: inline-block;
      border-radius: 11px;
      background-color: #f4511e;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 28px;
      padding: 20px;
      width: 200px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
  }

  .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
  }

  .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
  }

  .button:hover span {
      padding-right: 25px;
  }

  .button:hover span:after {
      opacity: 1;
      right: 0;
  }