.root {
  margin: 20vh 0;
  width: 100%;
  /* border: 3px solid green; */

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
}

.root1 {
  width: 20%;
  height: 50vh;
}

.root1 button {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  /* border: 2px solid green; */
  border-radius: 10px;
  font-size: 19px;
  font-weight: 700;
}

.root2 {
  width: 80%;
  height: 50vh;
  /* background-color: aquamarine; */
}