*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
}



.root {
  margin: 0 2vw;
  /* width: 100%; */
  border: 3px solid rgb(17, 74, 92);
  border-radius: 20px;
  background-color: rgb(107, 182, 233);

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
}

.root1 {
  width: 20%;
  height: 50vh;
}

.root1 button {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  border: 2px solid rgb(90, 99, 219);
  border-radius: 25px;
  font-size: 19px;
  font-weight: 700;
  background-color: rgb(193, 223, 236);
  color: white;
}

.root2 {
  width: 80%;
  height: 50vh;
  /* background-color: aquamarine; */
}
.main-heading{
  margin: 2vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: rgb(68, 149, 204);
  border-radius: 20px;
}

.result-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eba894;
  border-radius: 20px;
  margin-top: 50px;
  height: 50px;
}

.result-header {
  /* background-color: red; */
  width: 50%;
  margin :100px;
  color: white;
  font-size: 35px;
}

.result {
  /* background-color: #aaa; */
  height: 30px;
  font-size: 25px;
  width: 50%;
  margin:0 200px 0 0;
  color: white;
}